/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #00385D;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffffd5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Form styles */
.form-container {
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-align: right;
  font-size: 14px;
  color: #007bff;
}

/* Flash messages styles */

.messages {
  text-align: center;
}

.flash-error {
  color: red;
}

.flash-success {
  color: green;
}

footer {
    color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
